<div class="container">

    <div class="row">
        <div *ngIf="IsPurchased; then buyBlock; else tableBlock">
        </div>

        <ng-template #tableBlock>

            <!-- Product Cards -->
            <div class="row">
                <div class="col-12 col-lg-3" *ngFor="let product of ProductList">
                    <div class="card">
                        <img src="{{product.Img}}" [ngClass]="Hover" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">{{product.Name}}</h4>
                            <h4 class="card-text"> Price : {{product.Price}}$</h4>
                            <h4 class="card-text" style="color: red;" *ngIf="product.Quantity<1">Out Of Stock </h4>
                            <a href="/Products" class="btn btn-success" (click)="buyProduct()">Buy</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Offers -->
            <div>
                <div *ngIf="Discount !== 'NoDiscount' ">
                    <h3>We offer an explicit discount of {{Discount|myPercentPipe}} </h3>
                </div>
            </div>

        </ng-template>

        <br><br>



        <!-- Thank You Message -->
        <ng-template #buyBlock>
            <div style=" margin: 10px;text-align: center;">
                <h3>Thanks for purchasing from our Store</h3>
            </div>
        </ng-template>

        <div class="row">
            <div class="col-6" style="text-align: center;">
                <button class="btn btn-danger" (click)="goToDiscountedProd()">Discounted Products</button>
            </div>
            <div class="col-6" style="text-align: center;">
                <button class="btn btn-success" (click)="goToNormalProd()">Flash Sale</button>
            </div>
        </div>
        <br><br>
        <router-outlet></router-outlet>
        <br><br>
    </div>

</div>