* {

  box-sizing: border-box;
}


.card {
  box-shadow: 3px 3px 3px black;
  margin: 10px;
  width: 18rem;
  position: relative;
}

.card h5,
p,
a{
  margin: 5px;
}

.card img{
  margin-top: 15px;
} 

.effect:hover {
  // border: 2px gray solid;
  transform: scale(1.09);
  z-index: 1;
}
