<nav class="navbar navbar-expand-lg bg-light">
   
    <div class="container-fluid">
         <!-- Logo -->
    <div class="container">
        <a class="navbar-brand mx-3 fs-6" href="/Home">
            <img [src]="navImage" alt="Bootstrap" width="30" height="24">
        </a>
    </div>

        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Home"
                        routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Products"
                        routerLinkActive="active">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Users"
                        routerLinkActive="active">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Posts"
                        routerLinkActive="active">posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Register"
                        routerLinkActive="active">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Login"
                        routerLinkActive="active">Login</a>
                </li>
            </ul>
        </div>

    </div>

</nav>
<!-- 

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->