<nav class="navbar navbar-expand-lg bg-light">
    <!-- Logo -->
    <div class="container">
        <a class="navbar-brand mx-3 fs-6" href="/Home">
            <img [src]="navImage" alt="Bootstrap" width="30" height="24">
        </a>
    </div>

    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"></a> -->
        <!-- Button when  small screen  -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Home"
                        routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Products"
                        routerLinkActive="active">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Users"
                        routerLinkActive="active">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " class="nav-link mx-3 fs-6" aria-current="page" routerLink="/Posts"
                        routerLinkActive="active">posts</a>
                </li>
            </ul>
        </div>

    </div>

</nav>