<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5    order-1 order-lg-2">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log In</p>
                                <h2 style="color: red;" *ngIf="match==1"
                                    class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                    Welcome {{userModel.email}}</h2>
                                <h2 style="color: red;" *ngIf="match==2"
                                    class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                    Email Or Password Is Not Correct </h2>

                                <form class="mx-1 mx-md-4" #userForm="ngForm" novalidate (ngSubmit)="onLogin()">


                                    <!-- Email input  -->
                                    <div class="form-group d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" class="form-control" required
                                                [class.is-invalid]="email.invalid && email.touched"
                                                [(ngModel)]="userModel.email" name="txtEmail" #email="ngModel"
                                                placeholder="email..."
                                                pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" />
                                            <div *ngIf="email.errors && email.touched">
                                                <small class="text-danger"
                                                    *ngIf="email.invalid && email.touched && email.errors['required']">
                                                    Email is required
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="email.invalid && email.touched && email.errors['pattern']">
                                                    Invalid email format
                                                </small>
                                            </div>

                                        </div>
                                    </div>


                                    <!-- Password input -->
                                    <div class="form-group d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" class="form-control" required
                                                [class.is-invalid]="password.invalid && password.touched"
                                                [(ngModel)]="userModel.password" name="txtPassword" #password="ngModel"
                                                placeholder="password..."
                                                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$" />

                                            <div *ngIf="password.errors && password.touched">
                                                <small class="text-danger" *ngIf="password.errors['required']">
                                                    Password is required
                                                </small>
                                                <small class="text-danger" *ngIf="password.errors['pattern']">
                                                    Password must contain at least 8 characters including one uppercase
                                                    letter, one lowercase letter, and one digit.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Submit button -->
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <input type="submit" [disabled]="userForm.form.invalid"
                                            [class.registerInvalid]="userForm.form.invalid"
                                            class="btn btn-success btn-lg" value="Log In">
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <h3 class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
                                                href="/Register" class="link-danger">Register</a></h3>
                                    </div>
                                </form>
                            </div>


                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-2 order-lg-1 ">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>