<div class="container">
    <div class="row" style="text-align: center;margin: 10rem;">
        <div>

            <div>
                <h1>{{StoreName|uppercase}}</h1>
                <img [src]="StoreLogo" style="width: 40rem;height: auto;">
            </div>

            <!-- <input type="text" [(ngModel)]="ClientName" placeholder="Enter your name">
            <p>Your name: {{ ClientName }}</p> -->
            <!-- <div>
                <select>
                    <option value="">choose an Category</option>
                    <option *ngFor="let item of CategoryList" value="{{item.name}}">
                        {{item.name}}
                    </option>
                </select>
            </div> -->
        </div>
    </div>
</div>