

.card {
  box-shadow: 3px 3px 3px black;
  margin: 15px;
  width: 18rem;
  // height: 30rem;
}

.card h5,
p,
a {
  margin: 10px;
}

.effect:hover {
  border: 5px black solid;
  transform: scale(1.05);
  z-index: 1;
}
